* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-light  {
  background-color: beige !important;
}

.nav-item, .navbar-brand {
  font-family: Bell MT
}

.open-paragraph {
  display: flex;
  width: 1280px;
  height: 100px;
  background-color: light gray;
  justify-content: center;
}

.words {
  display: flex;
  padding: 35px 0px;
}

.photo-container {
  width: 1250px
}

.photo-container-1 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  /*flex-wrap: wrap;*/
}

.first-item {
  margin-left: 150px;

}

.photo-1-words {
  width: 400px;
  margin:auto;
  margin-left: 20px;
}

.photo-container-2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 50px;
}

.second-item {
  margin-right: 150px;
}

.photo-2-words {
  width: 400px;
  margin:auto;
  margin-right: 20px;
}

.photo-container-3 {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 50px;
}

.third-item {
  margin-left: 150px;
}

.photo-3-words {
  width: 400px;
  margin:auto;
  margin-left: 20px;
}

.more-photos {
  display: flex;
  width: 1250px;
  justify-content: center;
}
.more-words {
  padding: 10px;
  font-size: 25px
}

.pic-grid-1 {
  width: 1250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pic-grid-2 {
  width:  1250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.footer {
  display: flex;
  width: 1275px;
  height: 50px;
  background-color: beige;
  justify-content: center;
}

.foot-link {
  display: flex;
  margin-top: 15px;
}
